.back{
    text-align: center;
}
.contactPic{
    border : solid 2px gold;
}
.contactPic:hover{
    transform: rotate(-360deg);
    transition-duration: 2s;
}
.git{
    font-size: 20px;
    font-weight: bold;
    color: gold;
}
.git:hover{
    color: black;
}
.link{
    font-size: 20px;
    font-weight: bold;
    color: gold;
}
.link:hover{
    color: black;
}
.margin{
    margin-top: 20px;
}
.github{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.linkedin{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.email{
    font-size: 20px;
    font-weight: bold;
}
.phone{
    font-size: 20px;
    font-weight: bold;
}
.yourEmail,.yourPhone{
    color: gold;
}
.yourEmail:hover,.yourPhone:hover{
    color: black;
}
.gitHubLogo:hover,.gmailLogo:hover{
        transform: rotate(360deg);
        transition-duration: .5s;
}
.linkedLogo:hover,.phoneLogo:hover{
        transform: rotate(-360deg);
        transition-duration: .5s;
}

@media only screen and (max-width: 750px){

        Col{
            width : 100%;
        }

}